<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Turtle Facts for Days</h1>
		<br />
		<h2>I'm Megan, I know stuff about turtles.</h2>
		<br />
		<%= link_to 'Lear More', '#', class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>